.all {
    width: 30%;
    height: 500px;
    border: 1px solid gainsboro;
    align-items: center;
    margin-left: 100px;
    margin-top: 40px;
    background-color: rgb(218, 234, 248);
}
.all h1{
    margin-left: 50px;
}
button{
    padding: 12px 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: aqua;
    border: 0;
}
input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 30px;
}
label{
    margin-left: 35px;
}
p{
    margin-left: 30px;
    font-size: 13px;
}
